.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  *{
    padding: 0;
    margin: 0;
  }
  .btn-primary {
    background-color:rgb(6, 81, 6);
    font-weight: 600px;
    align-items: center; 
    color: white;
    
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.text-primary {
    color: rgb(127, 232, 197); ;
    border-color:rgb(127, 232, 197) ;
    height: 50px;
    width: 110px;
    border-radius: 5px;
}
.dark-2 {
    color: rgb(142, 160, 160);
}
.dark-3 {
    color: rgb(93, 95, 95)
}
.banner {
    background-color:  rgb(127, 232, 197);;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px 0px 150px;
    border-radius: 10px;
    height: 550px;
    width: 1290px;
    gap: 25px;
    
}
.banner-content {
    width: 600px;
    padding: 20px 40px;
    text-align: left;


}
.banner-subtitle {
    font-size: 12px;
    font-weight: bold;
    font-weight: 700;
    margin-bottom: 5px;

    
}
.banner-title {
    font-weight: bolder;
    font-size: 47px;
    margin-bottom: 20px;

}
.banner-picture {
    width: 500px;
}


.section-title {
    font-size: 35px;
    text-align: justify;
    margin: 0 auto;
    padding: 20px;
}
.section-description {
    font-size: 15px;
    text-align: justify;
    padding: 20px;
    

    
    
}
.about-container {
    display: flex;
    justify-content: space-around;
    

    
}
.about-items {
    
    align-items: justify;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.06);
    width: 450px;
    height: 200px;
    
}
.about-title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(39, 32, 32);
    margin-bottom: 30px;
}
.about-description {
    font-size: 16px;
    color: rgb(93, 95, 95);
    margin: 10px;
    

}
.btn {
    background-color: rgb(14, 129, 175);
    font-weight: 600px;
    align-items: center; 
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.bg-1{
    background-color: skyblue;
}

 .bg-2 {
    background-color: lightgreen;
 }   
.bg-3 {
    background-color: lightsalmon;
}
.btn-bg-1 {
    background-color: rgb(14, 129, 175);
}
.btn-bg-2 {
    background-color: rgb(19, 159, 19);
}
.btn-bg-3 {
    background-color: rgb(209, 68, 12);
}
